### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [11]:
df = pd.DataFrame(school_data_complete)
num_of_schools=df['school_name'].nunique()
print(num_of_schools)
print(df.columns)
total_num_students = df['student_name'].count()
print(f"{total_num_students:,}")
total_budget =  pd.DataFrame(df.drop_duplicates(subset=['school_name','budget'], keep= 'last'))
TotalBudget = total_budget['budget'].sum() # total budget 
Avg_maths_score = df['maths_score'].mean()
AvgMathsScore= round(Avg_maths_score, 6)
Avg_reading_score = df['reading_score'].mean()
AvgReadingScore = round(Avg_reading_score, 6)
countmathspass = pd.DataFrame(df.loc[df['maths_score'] >=50,['school_name','maths_score']])
passing_MathsScore_percentage = (countmathspass['maths_score'].count()/total_num_students)*100
MathsScorePercent= round(passing_MathsScore_percentage, 6)
countreadingpass = pd.DataFrame(df.loc[df['reading_score'] >=50,['school_name','reading_score']])                                     
passing_ReadingScore_percentage = (countreadingpass['reading_score'].count()/total_num_students)*100
ReadingScorePercent = round(passing_ReadingScore_percentage, 6)
overall_pass = (len(df[(df['reading_score']>= 50)&(df['maths_score']>=50)])/total_num_students)*100
OverallPassPercent = round(overall_pass, 6)
LGAS_df = pd.DataFrame([
    {"Total Schools":num_of_schools,
     "Total Students": f"{total_num_students:,}",
     "Total Budget": f"${TotalBudget:,.2f}",
     "Average Maths Score":AvgMathsScore,
     "Average Reading Score":AvgReadingScore,"% Passing Maths":MathsScorePercent,"% Passing Reading":ReadingScorePercent,
    "% Over passing":OverallPassPercent}
])
LGAS_df

15
Index(['Student ID', 'student_name', 'gender', 'year', 'school_name',
       'reading_score', 'maths_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')
39,170

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Over passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [32]:

school_type = school_data.set_index("school_name")["type"]
school_student_num = df.groupby("school_name").size()
total_budget = df.groupby("school_name")["budget"].mean()
perstudentbudget = total_budget/school_student_num
avgmathsscore =  df.groupby("school_name")["maths_score"].mean()
avgreadingscore =  df.groupby("school_name")["reading_score"].mean()
passing_maths_df = df.loc[df['maths_score'] >=50,['school_name','maths_score']]
percentpassingmaths = passing_maths_df.groupby("school_name").size()/school_student_num *100
passing_reading_df = df.loc[df['reading_score'] >=50,['school_name','reading_score']]
percentpassingreading = passing_reading_df.groupby("school_name").size()/school_student_num *100
overallpassing_df= df.loc[(df['reading_score']>= 50)&(df['maths_score']>=50)]
overall_passing = overallpassing_df.groupby("school_name").size()/school_student_num *100
school_summary = pd.DataFrame({"type": school_type,"studentsperschool":school_student_num,
                               "totalbudget": total_budget,"perstudentbudget":perstudentbudget,
                               "avgmathsscore":avgmathsscore, "avgreadingscore": avgreadingscore,
                               "%passing maths score":percentpassingmaths, "% passing reading":percentpassingreading,
                               "overall_passing %":overall_passing, 
                              })

school_summary

,type,studentsperschool,totalbudget,perstudentbudget,avgmathsscore,avgreadingscore,%passing maths score,% passing reading,overall_passing %
school_name,,,,,,,,,
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411.0,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,248087.0,581.0,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,585858.0,609.0,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,1056600.0,600.0,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,1043130.0,638.0,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [33]:
sortedschool_summary=school_summary.sort_values("overall_passing %", ascending = False) #sorted by overall passing
sortedschool_summary.iloc[0:5] # top5 schools by overall passing

,type,studentsperschool,totalbudget,perstudentbudget,avgmathsscore,avgreadingscore,%passing maths score,% passing reading,overall_passing %
school_name,,,,,,,,,
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [34]:
sortedschool_summary=school_summary.sort_values("overall_passing %")
sortedschool_summary.iloc[0:5]

,type,studentsperschool,totalbudget,perstudentbudget,avgmathsscore,avgreadingscore,%passing maths score,% passing reading,overall_passing %
school_name,,,,,,,,,
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [35]:
school_summary_year9= df.loc[df['year']==9, ["school_name", "maths_score", "student_name", "Student ID"]]
year9_mscore= school_summary_year9.groupby("school_name")["maths_score"].mean()
#type(year9_mscore)

school_summary_year10= df.loc[df['year']==10, ["school_name", "maths_score", "student_name", "Student ID"]]  
year10_mscore= school_summary_year10.groupby("school_name")["maths_score"].mean()

school_summary_year11= df.loc[df['year']==11, ["school_name", "maths_score", "student_name", "Student ID"]]  
year11_mscore= school_summary_year11.groupby("school_name")["maths_score"].mean()

school_summary_year12= df.loc[df['year']==12, ["school_name", "maths_score", "student_name", "Student ID"]]
year12_mscore= school_summary_year12.groupby("school_name")["maths_score"].mean()

maths_scorePerYear_df= pd.DataFrame({"year 9 maths_score":year9_mscore,"year 10 maths_score":year10_mscore,
                                    "Year 11 maths score":year11_mscore, "Year 12 maths score": year12_mscore,
                                    })
maths_scorePerYear_df

,year 9 maths_score,year 10 maths_score,Year 11 maths score,Year 12 maths score
school_name,,,,
Bailey High School,72.493827,71.897498,72.374900,72.675097
Cabrera High School,72.321970,72.437768,71.008299,70.604712
Figueroa High School,68.477804,68.331586,68.811001,69.325282
Ford High School,69.021609,69.387006,69.248862,68.617811
Griffin High School,72.789731,71.093596,71.692521,71.469178
Hernandez High School,68.586831,68.867156,69.154412,68.985075
Holden High School,70.543307,75.105263,71.640777,73.409639
Huang High School,69.081754,68.533246,69.431345,68.639316
Johnson High School,69.469286,67.990220,68.637730,69.287393
Pena High School,71.996364,72.396000,72.523438,71.187845
Rodriguez High School,71.940722,71.779808,72.364811,72.154626
Shelton High School,72.932075,72.506696,70.097087,72.331536
Thomas High School,69.234273,70.057007,69.657831,69.369822
Wilson High School,69.212361,69.455446,68.378965,69.787472
Wright High School,71.741176,72.179012,73.275862,70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [36]:
school_summary_year9= df.loc[df['year']==9, ["school_name", "reading_score", "student_name", "Student ID"]]
year9_rscore= school_summary_year9.groupby("school_name")["reading_score"].mean()
year9_rscore.dtype

school_summary_year10= df.loc[df['year']==10, ["school_name", "reading_score", "student_name", "Student ID"]]  
year10_rscore= school_summary_year10.groupby("school_name")["reading_score"].mean()

school_summary_year11= df.loc[df['year']==11, ["school_name", "reading_score", "student_name", "Student ID"]]  
year11_rscore= school_summary_year11.groupby("school_name")["reading_score"].mean()

school_summary_year12= df.loc[df['year']==12, ["school_name", "reading_score", "student_name", "Student ID"]]
year12_rscore= school_summary_year12.groupby("school_name")["reading_score"].mean()

reading_scorePerYear_df= pd.DataFrame({"year 9 reading_score":year9_rscore,"year 10 reading_score":year10_rscore,
                                    "Year 11 reading score":year11_rscore, "Year 12 reading score": year12_rscore,
                                    })
reading_scorePerYear_df # dataframe converted the series dtype to float 64 dtypes.

,year 9 reading_score,year 10 reading_score,Year 11 reading score,Year 12 reading score
school_name,,,,
Bailey High School,70.901920,70.848265,70.317346,72.195525
Cabrera High School,71.172348,71.328326,71.201245,71.856021
Figueroa High School,70.261682,67.677588,69.152327,69.082126
Ford High School,69.615846,68.988701,70.735964,68.849722
Griffin High School,72.026895,70.746305,72.385042,69.434932
Hernandez High School,68.477569,70.621842,68.418199,69.244136
Holden High School,71.598425,71.096491,73.310680,70.481928
Huang High School,68.670616,69.516297,68.740638,68.671795
Johnson High School,68.719286,69.295029,69.969115,67.992521
Pena High School,70.949091,72.324000,71.703125,71.513812
Rodriguez High School,70.902921,70.137500,71.424453,71.414449
Shelton High School,70.715094,69.879464,71.150485,69.070081
Thomas High School,69.672451,69.741093,70.749398,68.730769
Wilson High School,68.683043,68.412541,68.796327,69.888143
Wright High School,71.823529,71.386831,70.475862,69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [37]:
#sortedschool_summary.columns
bins = [59.9,69.9, 79.9, 89.9]
group_schools = [ "C", "B", "A"]

AverageOverallPassing = (sortedschool_summary["%passing maths score"] + sortedschool_summary["% passing reading"])/2
avg_overall_passing =  AverageOverallPassing *100
sortedschool_summary["avg_overall_passing_percent"] = round(avg_overall_passing, 2)

sortedschool_summary["rating"] = pd.cut(sortedschool_summary["overall_passing %"],bins, labels=group_schools, include_lowest = True)
sortedschool_summary

,type,studentsperschool,totalbudget,perstudentbudget,avgmathsscore,avgreadingscore,%passing maths score,% passing reading,overall_passing %,avg_overall_passing_percent,rating
school_name,,,,,,,,,,,
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617,8141.32,C
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376,8157.35,C
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766,8202.06,C
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103,8204.12,C
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880,8232.93,C
Figueroa High School,Government,2949,1884411.0,639.0,68.698542,69.077993,81.654798,82.807731,67.650051,8223.13,C
Thomas High School,Independent,1635,1043130.0,638.0,69.581651,69.768807,83.853211,82.629969,69.480122,8324.16,C
Shelton High School,Independent,1761,1056600.0,600.0,72.034072,70.257808,91.538898,86.712095,78.875639,8912.55,B
Holden High School,Independent,427,248087.0,581.0,72.583138,71.660422,89.929742,88.524590,78.922717,8922.72,B
Pena High School,Independent,962,585858.0,609.0,72.088358,71.613306,91.683992,86.590437,79.209979,8913.72,B
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855,8909.73,B
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222,8922.22,B
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405,8950.96,A
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791,8996.23,A
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150,8985.01,A

## Scores by School Size

* Perform the same operations as above, based on school size.

In [76]:
SummaryBySize = school_summary.sort_values("studentsperschool", ascending = False)
AvgOverallPassing= (SummaryBySize["avgmathsscore"] + SummaryBySize["avgreadingscore"])/2
AvgOverallPassingPercent= AverageOverallPassing *100
SummaryBySize["AvgOverallPassingPercent"] = round(AvgOverallPassingPercent, 2)
bins = [59.9,69.9, 79.9, 89.9]
group_schools = [ "C", "B", "A"]
SummaryBySize["Ranking"] = pd.cut(SummaryBySize["overall_passing %"], bins, labels=group_schools, include_lowest =True)
SummaryByRanking= SummaryBySize.sort_values("Ranking", ascending = False)
SummaryByRanking

,type,studentsperschool,totalbudget,perstudentbudget,avgmathsscore,avgreadingscore,%passing maths score,% passing reading,overall_passing %,AvgOverallPassingPercent,Ranking
school_name,,,,,,,,,,,
Bailey High School,Government,4976,3124928.0,628.0,72.352894,71.008842,91.639871,87.379421,80.084405,8950.96,A
Cabrera High School,Independent,1858,1081356.0,582.0,71.657158,71.359526,90.850377,89.074273,80.785791,8996.23,A
Griffin High School,Independent,1468,917500.0,625.0,71.788147,71.245232,91.212534,88.487738,81.335150,8985.01,A
Rodriguez High School,Government,3999,2547363.0,637.0,72.047762,70.935984,90.797699,87.396849,79.419855,8909.73,B
Wright High School,Independent,1800,1049400.0,583.0,72.047222,70.969444,91.777778,86.666667,79.722222,8922.22,B
Shelton High School,Independent,1761,1056600.0,600.0,72.034072,70.257808,91.538898,86.712095,78.875639,8912.55,B
Pena High School,Independent,962,585858.0,609.0,72.088358,71.613306,91.683992,86.590437,79.209979,8913.72,B
Holden High School,Independent,427,248087.0,581.0,72.583138,71.660422,89.929742,88.524590,78.922717,8922.72,B
Johnson High School,Government,4761,3094650.0,650.0,68.843100,69.039277,82.062592,81.978576,67.191766,8202.06,C
Hernandez High School,Government,4635,3022020.0,652.0,68.874865,69.186408,80.949299,81.877023,66.364617,8141.32,C
Figueroa High School,Government,2949,1884411.0,639.0,68.698542,69.077993,81.654798,82.807731,67.650051,8223.13,C
Huang High School,Government,2917,1910635.0,655.0,68.935207,68.910525,81.693521,81.453548,66.712376,8157.35,C
Ford High School,Government,2739,1763916.0,644.0,69.091274,69.572472,82.438846,82.219788,67.469880,8232.93,C
Wilson High School,Independent,2283,1319574.0,578.0,69.170828,68.876916,82.785808,81.296540,67.455103,8204.12,C
Thomas High School,Independent,1635,1043130.0,638.0,69.581651,69.768807,83.853211,82.629969,69.480122,8324.16,C

## Scores by School Type

* Perform the same operations as above, based on school type

In [82]:
my_d = pd.DataFrame({"school_ID":(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15),
                     "school_name":("Huang High School", "Figueroa High School","Shelton High School","Hernandez High School","Griffin High School","Wilson High School","Cabrera High School","Bailey High School","Holden High School","Pena High School","Wright High School","Rodriguez High School","Johnson High School","Ford High School","Thomas High School")
                    })
RankA_school= SummaryBySize.loc[SummaryBySize["Ranking"]== "A",["type", "overall_passing %"]]

rankB_school = SummaryBySize.loc[SummaryBySize["Ranking"]== "B",["type", "overall_passing %"]]

rankC_school = SummaryBySize.loc[SummaryBySize["Ranking"]== "C",["type", "overall_passing %"]]

totalrankedschools = pd.merge(my_d, RankA_school, on= "school_name", how= "outer")
new_totalrankedschools= pd.merge(rankB_school, totalrankedschools, on= "school_name", how = "right")
newtotal_rankedschools = pd.merge(rankC_school,new_totalrankedschools, on= "school_name", how= "outer" )
renamed_rankedschools_df = newtotal_rankedschools.rename(columns ={"type_y":"Ranked_A_type","overall_passing%_y":"overall_passing%_Arank","type_x":"Ranked_B_type", "overall_passing%_x":"overall_passing%_Brank", "type":"Ranked_C_type", "overall_passing%": "overall_passing%_C" })

renamed_rankedschools_df = renamed_rankedschools_df .fillna(0)
renamed_rankedschools_df

,school_name,Ranked_C_type,overall_passing %,Ranked_B_type,overall_passing %_x,school_ID,Ranked_A_type,overall_passing %_y
0,Johnson High School,Government,67.191766,0,0.000000,13,0,0.000000
1,Hernandez High School,Government,66.364617,0,0.000000,4,0,0.000000
2,Figueroa High School,Government,67.650051,0,0.000000,2,0,0.000000
3,Huang High School,Government,66.712376,0,0.000000,1,0,0.000000
4,Ford High School,Government,67.469880,0,0.000000,14,0,0.000000
5,Wilson High School,Independent,67.455103,0,0.000000,6,0,0.000000
6,Thomas High School,Independent,69.480122,0,0.000000,15,0,0.000000
7,Shelton High School,0,0.000000,Independent,78.875639,3,0,0.000000
8,Griffin High School,0,0.000000,0,0.000000,5,Independent,81.335150
9,Cabrera High School,0,0.000000,0,0.000000,7,Independent,80.785791
10,Bailey High School,0,0.000000,0,0.000000,8,Government,80.084405
11,Holden High School,0,0.000000,Independent,78.922717,9,0,0.000000
12,Pena High School,0,0.000000,Independent,79.209979,10,0,0.000000
13,Wright High School,0,0.000000,Independent,79.722222,11,0,0.000000
14,Rodriguez High School,0,0.000000,Government,79.419855,12,0,0.000000